.usercontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.user{
    background-color:white;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
    text-align: center;
}
.avatar{
    width: 200px;
    height: auto;
    margin: 0 10px;
}
.username .surname{
    color: #555;
    font-size: 14px
}

