.rate_block{
    background-color:white;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
    text-align: center;
}

.rating{
    font-size: 20px;
    margin-bottom: 0;
    color: maroon;
}

.title{
    display: flex;
    justify-content: center;
}