.link_container {
    display: flex;
    justify-content: space-around;

    padding: 10px;
}

.link_block {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    transition: border-color 0.3s ease;
    background: #007bff;
}

.link {
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.link:hover {
    background-color: #ccc;
}

.link-block:hover {
    border-color: #999;
}


.authenticated{
    background: none;
    padding: 0;
    border-radius: 0;
}