.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.product {
    background-color:white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
    text-align: center;
}

.title {
    font-size: 24px;
    margin-top: 0;
}

.size, .people, .season, .type, .materials, .availability, .description {
    color: black;
    font-size: 14px;
}

.photos {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.photos img {
    width: 200px;
    height: auto;
    margin: 0 10px;
}

.price {
    font-size: 20px;
    margin-bottom: 0;
    color: maroon;
}
.creator {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    margin-top: 20px; /* Add some margin to separate it from the product section */
    display: flex;
    justify-content: start;
    cursor: pointer;
    transition: background-color 0.3s ease
}

.creator img {
    width: 100px; /* Adjust the image size as needed */
    height: 100px;
    border-radius: 50%; /* Make the image circular */
    margin-bottom: 10px; /* Add some space between the image and the name */
}

.creator h3 {
    font-size: 18px;
    margin: 0;
}


